@{
    ViewData["Title"] = "Privacy Politic";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4 text-primary font-weight-bold">@ViewData["Title"]</h1>
            <p class="lead"></p>
        </div>
        <div class="mt-4 p-4 bg-light border rounded shadow-sm">
            <p>Nos comprometemos a proteger tu privacidad y garantizar que tu información personal esté segura. Nuestra política de privacidad explica cómo recopilamos, usamos y protegemos tus datos.</p>
            <ul class="list-unstyled">
                
                <li><strong>Recopilación de información:</strong> Todos los derechos reservados</li>
                <li><strong>Uso de información:</strong> Todos los derechos reservados</li>
                <li><strong>Protección de datos:</strong> Todos los derechos reservados</li>
            </ul>
        </div>
        <footer class="mt-5 text-center">
            <hr class="mb-4">
            <p class="mb-2">Todos los derechos de esta página son reservados.</p>
            <p class="font-italic">Página creada por Luis Alejandro Londoño Valle</p>
        </footer>
    </div>
</body>
</html>